<head>
    <link rel="stylesheet" href="components/jump/jump.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<header class="hero" id="hero">
    <div class="hero-content">
        <h1 class="hero-title" id="jump-name">Feel the rush of our ultimate jump.</h1>
    </div>
</header>
<article>
    <div class="jump-info">
        <div>
            <h1 id="jump-height"></h1>
            <h3>meters</h3>
            <p id="jump-description"></p>
        </div>
        <div>
            <h1 id="adult-price"></h1>
            <h3>Adult Price</h3>
            <p>Anyone over 14 years is considered to be an adult</p>
        </div>
        <div>
            <h1 id="kids-price"></h1>
            <h3>Kids Price</h3>
            <p>Children must be at least 10 years old AND 35 kgs. Anyone over 14 years is considered to be an adult.</p>
        </div>
    </div>
    <div class="general-info">
        <div>
            <h2 class="info-title">Instructor Jump</h2>
            <ul class="info-data">
                <li>If it's your first time or if you don't want to jump alone, we offer tandem jumps with an
                    instructor.</li>
                <li>For those who'd like to tandem jump with an instructor, a surcharge of an extra $25 is added to
                    their charge.</li>
            </ul>
        </div>
        <div>
            <h2 class="info-title">More Info</h2>
            <ul class="info-data">
                <li>There are three jump slots (10am, 12pm, and 2pm), 7 days a week.</li>
                <li>The maximum total number of jumpers for any time slot is 20 (this number excludes instructors).</li>
                <li>To jump, children must be at least 10 years old AND 35 kgs, and must be accompanied by at least one
                    adult (ie if a child is booked for a jump, there must be at least one adult booked in the same time
                    slot).</li>
            </ul>
        </div>
        <a class="more-info-but" href="mailto:admin@ultrabungee.nz">Book Now</a>
    </div>
    <div class="small-gallery">
        <h3 id="small-gallery-jump-title">Get an idea of the thrill of Ultra Bungee's placeholder jump</h3>
        <div id="small-gallery-images">
        </div>
        <h3 id="small-gallery-jump-name">Jump</h3>
        <p>Click on a thumbnail to view full image. View our full gallery of images by clicking on the button below.</p>
        <a class="more-info-but" href="/gallery.html">Full Gallery</a>
    </div>
</article>