<head>
    <link rel="stylesheet" href="components/jump/jump.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<header class="hero">
    <div class="hero-content">
        <h1 class="hero-title" id="jump-name">Feel the rush of our ultimate jump.</h1>
    </div>
</header>
<article>
    <div>
        <h1 id="jump-height"></h1>
        <h3>meters</h3>
        <p id="jump-description"></p>
    </div>
    <div>
        <h1 id="adult-price"></h1>
        <h3>Adult Price</h3>
        <p>Anyone over 14 years is considered to be an adult</p>
    </div>
    <div>
        <h1 id="kids-price"></h1>
        <h3>Kids Price</h3>
        <p>Children must be at least 10 years old AND 35 kgs. Anyone over 14 years is considered to be an adult.</p>
    </div>
</article>