<head>
    <link rel="stylesheet" href="components/navbar/navbar.css">
</head>
<div class="navbar">
    <img class="navbar-image" src="assets/logo.png" alt="logo for ultra bungee business">
    <ul class="navbar-links">
        <li class="nav-link"><a href="https://youtu.be/dQw4w9WgXcQ">Home</a></li>
        <li class="nav-link"><a href="https://youtu.be/dQw4w9WgXcQ">Bridge</a></li>
        <li class="nav-link"><a href="https://youtu.be/dQw4w9WgXcQ">Canyon</a></li>
        <li class="nav-link"><a href="https://youtu.be/dQw4w9WgXcQ">Tower</a></li>
        <li class="nav-link"><a href="https://youtu.be/dQw4w9WgXcQ">Gallery</a></li>
    </ul>
</div>